<section className="weather">
  <h2>The weather in {{@weather.name}}</h2>
  {{log @weather}}
  <h3>The tempterature will be between:</h3>
  <p>{{format-temp @weather.main.temp_min}}°C - {{format-temp @weather.main.temp_max}}°C</p>
  <div className="animal">
    <div className="Drizzle">{{@weather.weather.[0].main}}</div>
  </div>
</section>